// Account styles
.myresearch-menu {
  a{
    &.active {
      background-color: $lu-african-violet;
      border-bottom: 1px solid $lu-african-violet;
      color: $white;
      
      &:hover {
        background-color: $lu-african-violet;
      }
    }
  }
}

#update_holds {
  #update_selected {
    display: none;
  }

  .hold-edit {
    display: none;
  }
}

.account-menu li a {
  color: $lu-african-violet;
}

#content .sidebar {
  padding-bottom: 1rem;
}

