// Account styles
.myresearch-menu {
  a{
    &.active {
      background-color: #ff6d00;
      border-bottom: 1px solid #ff6d00;
      color: $white;
      
      &:hover {
        background-color: #361163;
      }
    }
  }
}

.template-dir-holds .template-name-list {
  #update_selected {
    display: none;
  }
}
