// Breadcrumb styles


// breadcrumbs
.breadcrumbs {
  background-color: darken($brand-primary, 5%);

  .container {
    width: 100%;
    max-width: 1180px;
  }

  .breadcrumb {
    color: rgba(255, 255, 255, 0.78);

    a {
      color: rgba(255, 255, 255, 0.78);
      text-decoration: none;

      &:hover,
      &:focus,
      &:active {
        color: $white;
        text-decoration: none;
      }
    }

    >li+li::before {
      content: ' > ';
      color: rgba(255, 255, 255, 0.3);
      font-weight: 300;
    }
  }

  .breadcrumb .active {
    color: $white;
  
    a {
      color: $white;

      &:hover,
      &:focus,
      &:active {
        color: $white;
        text-decoration: none;
      }
    }
  }
}



// desktop view
@media (min-width: 768px) {
  .container {
    //padding-left: 2rem;
    //padding-right: 2rem;
  }
}
 


// Wider view
@media (min-width: 1190px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}
