// Content styles



// main
.main {

  .container {
    display: block;
    width: 100%!important;
    max-width: 1180px!important;
  }

  .advanced-search-link {
    text-decoration: underline;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }
}


