// Content styles



// main
.main {

  .container {
    display: block;
    width: 100%!important;
    max-width: 1180px!important;
  }

  .advanced-search-link {
    text-decoration: underline;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }

  .highlight, mark {
    background-color: #cee822!important;
  }
}


/* Login */

.alert-danger,
.alert-danger:hover {
  background-color: $lu-mercia-red!important;
}


/* Book location tabs */

.record-tabs {
  .nav-tabs {
    .nav-link {
      color: $lu-cedar!important;
    
      &:hover,
      &:focus,
      &:active {
        background-color: $light-gray!important;
        color: $lu-african-violet!important;
      }
    }
  }
}


/* Table text links */

.table-striped {
  a {
    color: $lu-african-violet!important;
  
    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }

  .btn {
    color: $white!important;
  }

  .text-success {
    background-color: $white;
    border: solid 1px #ddd;
    color: $lu-cedar;
    display: inline-block;
    padding: 0 0.5rem;
  }
}

