// for search pages


// search area on non-home pages
.search {
  width: 100%;
  max-width: initial;
  margin: 0;
  padding: 0;
  background-color: $lu-asphalt;
}

//
.searchbox,
.searchHomeContent {
  max-width: 1180px;
  margin: 0 auto!important;
  padding: 1rem;

  #searchForm {
    padding: 0 1rem;

    .nav-tabs {
      position: relative;
      padding-bottom: 1rem;
      margin-top: 0.5rem;
      margin-bottom: 0;

      a {
        text-decoration: none!important;

        &:focus {
          outline-color: $white!important;
        }
      }
    }

    .btn-primary {
      padding: 0.45rem!important;
      vertical-align: bottom;
    }

    .searchForm_type,
    .searchForm-query {
      vertical-align: bottom;
    }
  }

  .searchForm-query {
    display: block;
  }

  .btn-link {
    color: $white;
    text-decoration: none;

    &:hover,
    &:focus,
    &:hover {
      color: darken($white, 40%);
      text-decoration: none;
    }
  }

  .advanced-search-link {
    color: $white;

    &:hover,
    &:active,
    &:focus {
      color: $white;
    }
  }

  .form-control,
  .btn,
  .search-filter-toggle {
    border: none 0!important;
      /* border-bottom: 3px solid $white!important; */
      border-radius: 0!important;
      outline: none 0;
      box-shadow: none 0!important;

    &:focus {
      border: none 0!important;
      /* border-bottom: 3px solid #B1BE2D!important; */
      outline: solid 2px $lu-cedar-light!important;
      box-shadow: none 0!important;
    }
  }

  .advanced-search-link {
    text-underline-offset: 0.3rem;

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline!important;
    }
  }
}

form .form-control:focus {
  outline-color: $lu-cedar!important;
}

header {
  .btn-primary {
    text-underline-offset: 0.3rem;
    background-color: $brand-primary;
    color: $white;

    .icon--font {
      color: $white;
    }

    &:hover,
    &:active,
    &:focus {
      background-color: $lu-african-violet;
      text-decoration: underline;
      color: $white;
    }
  }
}

.btn,
.btn-default,
.btn-primary,
.clear-btn,
.pagination .active .page-link  {
  color: $white;
  background-color: $brand-primary;
  border: none 0;

  &:hover,
  &:active,
  &:focus {
    color: $white;
    background-color: $lu-african-violet;
    border: none 0;
  }
}

.advanced-search-link {
  background-color: transparent!important;
}

.pagination {
  color: $lu-asphalt!important;

  .page-link {
    color: $lu-asphalt;

    &:hover,
    &:active,
    &:focus {
      color: $lu-african-violet;
    }
  }

  li.page-next a,
  li.page-prev a {
    color: $lu-cedar;
  
    &:hover,
    &:active,
    &:focus {
      color: $lu-african-violet;
    }
  }
} 

.searchtools {
  text-align: center;
}

#content,
#advSearchForm {
  .sidebar {
    padding-bottom: 0.1rem;
    
    a.facet {
      &:hover {
        background-color: #ecf1cf;
      }

      &.active {
        &:hover {
          background-color: $lu-african-violet;
        }
      }
    }

    .more-btn, .less-btn {
      border-bottom: none;
    }
  }
}

.pagination>.active>a, .pagination>.active>span,
.pagination>li:last-child>a,
.pagination>li:last-child>span,
.active-filters .filters .filter-value,
.active-filters .reset-filters-btn,
.result-formats .label,
.form-control,
a.toolbar-btn,
.btn {
  border-radius: 0!important;
}

.active-filters .filters .filter-value {
  background-color: #bbbbbb;
}

.facet-range-form .btn {
  margin-top: 0.5rem!important;
  border-radius: 0!important;
  border: none 0!important;
  background-color: $lu-cedar!important;
  color: $white!important;

  &:hover {
    background-color: $lu-asphalt!important;
    border: none 0!important;
  }

  &:active,
  &:focus {
    background-color: $lu-african-violet!important;
    border: none 0!important;
  }
}

.adv-group {
  border-radius: 0;
}

fieldset.solr-facets,
fieldset.range {
  margin-top: 2rem;
  margin-bottom: 1rem;

  .solr-adv-facet {
    margin-bottom: 1rem;
  }
}

.adv-submit {
  margin-bottom: 2rem;
}

.slider-container .slider-handle {
  background-color: $lu-cedar;
  border: solid 1px $lu-cedar;

  &:focus,
  &:active {
    border: solid 1px $lu-cedar!important;
  }
}

.sidebar .facet.active,
.sidebar .facet.active:hover,
.sidebar .active-filters .facet,
.sidebar .active-filters .facet:hover {
  background-color: $lu-african-violet!important;
  border-color: $lu-african-violet!important;
}



// desktop view
@media (min-width: 768px) {
  .searchbox .searchForm-query,
  .template-name-home .searchForm-query {
    display: inline-block!important;
  }

  #advSearchForm {
    .sidebar {
      margin-top: 1.3rem;
    }
  }

  .searchForm_lookfor {
    width: 400px!important;
  }

  #searchForm {
    padding: 0!important;
  }
}

.alert-info,
.savedLists,
.alert-info:hover {
  background-color: $lu-light-gray;
  color: $black;

  a {
    color: $lu-african-violet;
  }
}


