// Search results


.template-dir-search .template-name-results  {
  .mainbody {
    .result-formats .format {
      background-color: $lu-asphalt!important;
    }

    

    .alert-info, .alert {
      background-image: none!important;
      background-color: $lu-light-gray;

      a {
        color: $lu-african-violet;
        text-underline-offset: .3rem;

        &:hover,
        &:active,
        &:focus {
          color: $black;
          text-decoration: none;
        }
      }
    }
  }
}
