// Homepage styles


.template-name-home {
  .main .container {
    padding-top: 0;

    hr {
      display: none!important;
    }
  }
}


.main {
  .container {
    padding: 2rem 1rem;
  }

  .searchHomeContent {
    background-color: @lu-asphalt;
    background-image: url('/themes/vufind-theme-lboro-2024/images/as-232244890-abstract-mobile.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    .btn-link {
      text-shadow: none!important;
    }

    .alert-warning {
      background-color: #B1BE2D;

      a {
        color: @lu-african-violet;

        &:hover {
          text-decoration: none;
        }
      }
    }

    #searchForm {
      float: none!important;
      margin-bottom: 2rem!important
    }
  }

  .searchHomeContent::after {
    display: none;
  }

  .search-home-facets {
    background-color: @lu-light-gray;
    padding: 2rem 1rem 1rem;

    .home-facet {
      padding-bottom: 1rem;
    }

    h2 {
      font-family: din-2014, sans-serif;
      font-weight: 600;
    }
  }

  .homeContent {
    padding: 2rem 1rem 1rem;

    h2 {
      font-family: din-2014, sans-serif;
      font-weight: 600;
    }
  }



  // Desktop styles

  @media (min-width: 768px) {

    .main {
      .container {
        padding: 2rem 2rem;
      }
    }

    

    .searchHomeContent {
      background-image: url('/themes/vufind-theme-lboro-2024/images/as-232244890-abstract.jpg');
      min-height: 220px;
      height: auto!important;
      padding-top: 3rem;
      padding-left: 4rem;
      padding-right: 4rem;
      border-radius: 0 0 2rem 2rem;
      //margin-left: -5rem;
      //margin-right: -5rem;
    }

    .homeContent {
      padding: 2rem 4rem 3rem;
      max-width: 800px;
  
      & > h2 {
        font-family: din-2014, sans-serif;
        font-weight: 600;
        font-size: 2rem!important;
      }

      
    }

    .search-home-facets {
      padding: 3rem 4rem;
      border-radius: 2rem;
      //margin-left: -5rem;
      //margin-right: -5rem;

      .home-facet {
        width: 33.33%;

        h2 {
          font-size: 1.5rem!important;
          font-family: din-2014, sans-serif;
          font-weight: 600;
        }
      }
    }
  }
}



// Wider view
@media (min-width: 1190px) {
  .main {
    .container {
      padding: 2rem 0;
    }
  }
}

