// Homepage styles


.main {
  // change searchHomeContent image

  .container {
    padding: 2rem;
  }

  .searchHomeContent {
    background-color: @lu-asphalt;
    background-image: url('/themes/vufind-theme-lboro-2024/images/as-232244890-abstract-mobile.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .searchHomeContent::after {
    display: none;
  }

  .search-home-facets {
    background-color: @lu-light-gray;
    padding: 2rem 1rem 1rem;

    .home-facet {
      padding-bottom: 1rem;
    }

    h2 {
      font-family: din-2014, sans-serif;
      font-weight: 600;
    }
  }

  .homeContent {
    padding: 2rem 1rem 1rem;

    h2 {
      font-family: din-2014, sans-serif;
      font-weight: 600;
    }
  }



  // Desktop styles

  @media (min-width: 768px) {

    .search-home-facets {
      padding: 3rem 4rem;
      //margin-left: -5rem;
      //margin-right: -5rem;

      .home-facet {
        width: 33.33%;
      }
    }

    .searchHomeContent {
      background-image: url('/themes/vufind-theme-lboro-2024/images/as-232244890-abstract.jpg');
      min-height: 100px;
      height: 40vh;
      padding-top: calc(20vh - 50px);
      padding-left: 4rem;
      padding-right: 4rem;
      //margin-left: -5rem;
      //margin-right: -5rem;
    }
  }
}

// Wider view
@media (min-width: 1190px) {
  .main {
    .container {
      padding: 2rem 0;
    }
  }
}