// Search results


.mainbody {
  .search-sort {
    .form-control {
      border-radius: 0!important;
    }
  }

  .result-formats .format {
    background-color: @lu-asphalt!important;
    border-radius: 0!important;
  }

  .pagination>.active>a, .pagination>.active>span {
    border-radius: 0!important;
  }

  .facet-range-form .btn {
    border-radius: 0!important;
    background-color: @lu-cedar!important;

    &:hover {
      background-color: @lu-asphalt!important;
    }

    &:active,
    &:focus {
      background-color: @lu-african-violet!important;
    }
  }
}
