@import "../../sandal/less/sandal";
@import "colors";
@import "variables";
@import "search";
@import "rtl";

// add lboro logo
header {
  .container.navbar {
    max-width: 1180px;
    margin: 0 auto;
  }

  .navbar-brand {
    height: 51px;
    margin-bottom: 1.875rem;
    margin-top: 1.875rem;
    width: 198px;
    .background-image("logos/lboro.svg");
    &.lang-ar {
      .background-image("logos/lboro.svg");
    }
  }
}
